<html>

<head>
    <title>All contacts</title>
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>

<h1>Contact book</h1>

    {{#phones}}
    <div class="block">
        <b>Contact:</b>
        (id = {{contact.id}})
        {{contact.firstName}}
        {{contact.lastName}}
        <i>email: </i>
        {{contact.email}}
        <i>phone number: </i>
        (id ={{id}})
        {{operatorName}}
        {{number}}
    </div>
    <br/>
    {{/phones}}

    <h3>Contacts without phones:</h3>
    {{#contacts}}
    <div class="block">
        <b>Contact:</b>
        (id = {{id}})
        {{firstName}}
        {{lastName}}
        <i>email: </i>
        {{email}}
    </div>
    <br/>
    {{/contacts}}

   <a href="/"> main</a>





</body>
</html>