<html>

<head>
    <title>All contacts</title>
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>

<h1>Contact book</h1>

    {{#phones}}
    <div class="block">
        <b>Contact:</b>
        {{contact.firstName}}
        {{contact.lastName}}
        <i>email: </i>
        {{contact.email}}
        <i>phone number: </i>
        {{operatorName}}
        {{number}}<br/><br/>
    </div>
    <br/>
    {{/phones}}

    <a href="/"> main</a>





</body>
</html>