<html>

<head>
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>


<div class="body">
    <p> Enter new contact </p>
    <form method="post">
        <input type="text" name="firstName" placeholder="firstName" />
        <input type="text" name="lastName" placeholder="lastName"/>
        <input type="text" name="email" placeholder="email"/>
        <button type="submit">Create</button>
    </form>


</div>


</body>
</html>