<html>
<head>
    <title>Main</title>
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>

<h1>Contact book</h1>
<div class="block">
    <h4>
    <a href="/contacts"> <br/>contacts</a>
    <a href="/phones"> <br/>phones</a>
    <a href="/allcontacts"> <br/>all contacts with phones</a>
    </h4>
</div>
</body>
</html>