<html>

<head>
    <title>Phones</title>
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>

<h1>Contact book</h1>

<div class="block">
    <p> Enter new phone </p>
    <form method="post">
        <input type="text" name="contactId" placeholder="contactId" />
        <input type="text" name="operatorName" placeholder="operatorName"/>
        <input type="text" name="phoneNumber" placeholder="phoneNumber"/>
        <button type="submit">Create</button>
    </form>
    {{result}}
</div>

<a href="/"> main</a>

</body>
</html>