<html>

<head>
    <title>Phones</title>
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>

<h1>Contact book</h1>

<div class="block">
    <p> Enter new phone </p>
    <form method="post" action="/phones">
        <input type="text" name="contactId" placeholder="contactId" />
        <input type="text" name="operatorName" placeholder="operatorName"/>
        <input type="text" name="number" placeholder="number"/>
        <button type="submit">Create</button>
    </form>
    {{result}}
</div>

<div class="block">

    <p> Update phone (please enter id phone) </p>
    <form method="post" action="/patchp">
    <input type="text" name="id" placeholder="id" />
    <button type="submit">Update</button>
    </form>

</div>

<div class="block">
    <p> Delete phone (please enter id phone number) </p>
    <form method="post" action="/deleteph">
    <input type="text" name="id" placeholder="id" />
    <button type="submit">Delete</button>
    </form>
</div>

<a href="/"> main</a>

</body>
</html>