<html>

<head>
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>


<div class="body">
    <p> Enter new phone </p>
    <form method="post">
        <input type="text" name="contactId" placeholder="contactId" />
        <input type="text" name="operatorName" placeholder="operatorName"/>
        <input type="text" name="number" placeholder="number"/>
        <button type="submit">Create</button>
    </form>


</div>


</body>
</html>