.top{
    background-color: ghostwhite;
    padding-left: 30%;
    padding-right: 30%;
}
.side{
    background-color: ghostwhite;
    margin-right: 70%;
    margin-left: 70%;
}
.body{
    margin-left: 30%;
    margin-right: 30%;
    p: 10%;
}
.cols {
    white-space: nowrap;
}
